.Corpo{
    background-color: rgba(0, 0, 0, 0.89);
    height: auto;
    width:auto;
    padding-top: 20px;
    padding-left:250px;
    padding-bottom: 200px;
}
.Land{
    display: flex;
    margin-bottom:30px;
}
.Land h1{
    color:white;
    font-size:25px;
    font-family: sans-serif;
}
.Land h3{
    color:rgba(255, 255, 255, 0.678);
    font-size:15px; 
}
.Land h3:hover{
    cursor:pointer;
    text-decoration: underline;
    transition-timing-function:ease-in-out(5s); 
}
.Cards{
    display: flex;
    color:white;
}
.Card{
    background-color: rgba(0, 0, 0, 0.116);
    margin-right: 25px;
    width:250px;
    height:330px;
    border-radius: 15px;
}
.Card img{
    border-radius: 5px;
    margin-left:15px;
}
.Icone{
    opacity: 0;
    margin-left:155px;
    transition: under .3s ease;
    transform: translate(-30%, -70%);
}
.Icone:hover{
    opacity: 2;
    transition: .3s ease;
  
}
.Card h1{
    margin-top:20px;
    margin-left:12px;
    margin-bottom :20px;
    font-size:13px;
    font-family:sans-serif
}
.Card h3{
    margin-top:20px;
    margin-left:12px;
    margin-bottom :20px;
    font-size:13px;
    font-family:sans-serif
}
.Card:hover{
    background-color: rgba(0, 0, 0, 0.295);
    -o-transition-timing-function: (2);
    cursor:pointer;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.356);
}
.LandPlaylist {
    display: flex;
    margin-top:30px;
    margin-bottom:30px;
}
.LandPlaylist h1{
    color:white;
    font-size:25px;
    font-family: sans-serif;
}
.LandPlaylist h3{
    color:rgba(255, 255, 255, 0.678);
    font-size:15px;
}
.LandPlaylist h3:hover{
    cursor:pointer;
    text-decoration: underline;
    transition-timing-function:ease-in-out(5s); 
}
.ParaDormir{
    display: flex;
    margin-top:30px;
    margin-bottom:30px;
}
.ParaDormir h1{
    color:white;
    font-size:25px;
    font-family: sans-serif;
}
.ParaDormir h3{
    color:rgba(255, 255, 255, 0.678);
    font-size:15px;
}
.ParaDormir h3:hover{
    cursor:pointer;
    text-decoration: underline;
    transition-timing-function:ease-in-out(5s); 
}
.Line{
    margin: 40px 20px;
    margin-top:120px;
    border: 0;
    border-top: 0.5px solid rgba(65, 63, 63, 0.418);;
  }
  

